<div class="card text-left mb-2">
    <img class="card-img-top" src="http://localhost:5000{{usuario.getImagen()}}" alt="">
    <div class="card-body">
        <h4 class="card-title">{{usuario.getNombre()}}</h4>
        <p class="card-text">{{usuario.getEmail()}}</p>
        <div class="card-myfooter">
            <button type="button" class="btn btn-primary" (click)="seleccionaUsuario(usuario)">Modificar</button>
            <button type="button" class="btn btn-danger" (click)="eliminarUsuario(usuario)">Eliminar</button>
        </div>
    </div>
</div>