<div class="container">

    <form [formGroup]="myForm" >
        <div class="form-group" >
            <label for="txtEmail">Email</label>
            <input type="email" class="form-control" formControlName="email" id="txtEmail" placeholder="Enter email">
            <small *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)"
                class="form-text invalid">Ingrese un email con formato valido</small>
        </div>
        <div class="form-group mb-3">
            <label for="txtPassword">Password</label>
            <input type="password" class="form-control" formControlName="password" id="txtPassword"
                placeholder="Password">
            <small
                *ngIf="myForm.get('password')?.invalid && (myForm.get('password')?.dirty || myForm.get('password')?.touched)"
                class="form-text invalid">La clave debe tener mas de 6 caracteres.</small>
        </div>
        <button class="btn btn-primary" (click)="clickLogin()">Ingresar</button>
    </form>

</div>